name: Debug Connection
on: [push, workflow_dispatch]

jobs:
  debug_access:
    runs-on: ubuntu-latest
    steps:
      - name: Test Connection
        run: |
          echo "1. Who am I trying to be?"
          echo "User: Zikri809"
          
          echo "2. Checking if Token exists..."
          if [ -z "${{ secrets.CLIENT_REPO_TOKEN }}" ]; then
            echo "ERROR: The secret CLIENT_REPO_TOKEN is EMPTY. You didn't save it!"
            exit 1
          else
            echo "SUCCESS: Token found (hidden)."
          fi

          echo "3. Testing Access to Client Repo..."
          # We try to list the branches of the remote repo using the token
          # If this fails, the Token is bad or the Invite is missing.
          git ls-remote https://Zikri809:${{ secrets.CLIENT_REPO_TOKEN }}@github.com/p49989690-art/event_management_and_feedback.git HEAD
